VITE_GATEWAY_URL=http://localhost:8080/
VITE_GATEWAY_APP_ID=P-NzYa8GWBSRafWwnsZnzANQHP3pB2lzee
VITE_GATEWAY_PROJECT_ID=83e78bd2-6905-49c0-b357-f88064720a27
VITE_GATEWAY_ENVIRONMENT_ID=fe9c5c5e-cdf9-4f9f-b2b5-2c1108c46e0d